<f:layout name="Default" />
<f:section name="Main">

    <f:comment>In this case default and two-column is the same template, it is just for the BE-layout. 2nd column is rendered inside extension news!</f:comment>

    <!--Main Content-->
    <main>
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
    </main>

    <!--bottom Nav Rootline-->
    <nav class="bottomNav clearfix">
        <div class="wrapper">
            <div id="rootlineNav">
                <f:if condition="{menuBreadcrumb}">
                    <p>
                        <f:translate key="LLL:EXT:zazupackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.breadcrumb" />
                    </p>
                    <ul class="menuBreadcrumb">
                        <f:for each="{menuBreadcrumb}" as="breadItem">
                            <f:render partial="Navigation/BreadcrumbItem" arguments="{breadItem: breadItem}" />
                        </f:for>
                    </ul>
                </f:if>
            </div>

        </div><!-- END center DIV -->
    </nav>

    <!--Footer-->
    <footer id="mainFooter" class="wrapper clearfix">
        <h2 class="visuallyhidden">zazu.berlin - Webdesign und Digitalisierung, wir ebnen Ihren Weg in eine erfolgreiche Zukunft.</h2>
        <div class="center">
            <!--Footer left-->
            <div class="footerLeft">
                <div class="footerLeftBottom">
                    <address class="addressOne">
                        <figure class="footerLogoContainer">
                            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                                <svg class="footerLogo" width="309px" height="41px" enable-background="new -0.1 243.1 309 41" overflow="visible" version="1.1" viewBox="0 0 309 41" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="#95DE11">
                                    <path d="M0.8,8.5h18.1L0,30.3v7.9h31v-7.5H11.8L30.4,8.9v-8H0.8V8.5z"/>
                                    <path d="m40.5 11.2c3.3-2.5 7.4-4.1 11.5-4.1 5.7 0 8.4 2 8.4 8h-5.4c-4.1 0-8.8 0.4-12.5 2.2s-6.4 5.1-6.4 10.7c0 7.1 6.4 11.1 13 11.1 4.4 0 9.3-2.3 11.5-6.4h0.1c0.1 1.2 0.1 3.6 0.4 5.6h8.6c-0.2-2.9-0.4-5.5-0.4-8.3-0.1-2.8-0.1-5.6-0.1-9.3v-4.8c0-11-4.7-15.7-16.1-15.7-4.1 0-9.2 1.1-13 2.8l0.4 8.2zm4.9 16.2c0-5.7 6.4-6.4 10.8-6.4h4.2c0 2.9-0.4 5.6-2 7.7-1.5 2-3.8 3.3-6.8 3.3-3.5 0-6.2-1.4-6.2-4.6z" fill-opacity=".9412"/>
                                    <path d="M77.2,8.5h18.1l-6.1,7L76.4,30.3v7.9h31v-7.5H88.3l18.6-21.8v-8H77.2V8.5z"/>
                                    <path d="m149.3 0.9h-9.7v18.3c0 4.8-1.5 12.4-8.6 12.4-6.2 0-6.3-6.2-6.3-10.7v-20h-9.7v23.6c0 8.4 3.8 14.6 12.7 14.6 5.1 0 9.3-2.3 12.2-5.9h0.1v5.1h9.2v-37.4z"/>
                                    <path d="M158.3,38.2h10.1V28.1h-10.1V38.2z"/></g><g fill="#2F383C">
                                    <path d="m183 25.2c0-3.7 1.7-8.4 6.2-8.4s5.7 4.9 5.7 8.4c0 3.6-1.3 8.6-5.8 8.6-4.6 0-6.1-4.8-6.1-8.6zm-6.9 13.3h6.7v-3.2h0.1c2 2.8 5.2 3.8 8.1 3.8 8.1 0 11.1-6.7 11.1-13.9 0-7.3-3-13.8-11.1-13.8-3.6 0-6 1.5-7.9 4h-0.1v-15.4h-6.9v38.5z"/>
                                    <path d="m212.4 22.7c0.3-3.5 2.3-6.2 6.1-6.2 3.9 0 5.4 2.9 5.6 6.2h-11.7zm16.3 8.7c-2.6 1.4-5.4 2.7-8.8 2.7-4.3 0-7.2-2.4-7.5-6.7h18.3c0-9.2-2.8-16-12.6-16-8.2 0-12.3 6.3-12.3 14 0 8.7 5.1 13.7 13.8 13.7 3.7 0 6.6-0.7 9.1-2.1v-5.6z"/>
                                    <path d="m236.2 38.5h6.9v-9.7c0-3.8 0-10.8 5.6-10.8 1.2 0 2.5 0.2 3.1 0.6v-6.9c-0.7-0.2-1.4-0.2-2.1-0.2-4.1 0-6.9 4.2-7.2 6.6h-0.1v-6h-6.1v26.4z"/>
                                    <path d="M256.2,38.5h6.9V0h-6.9V38.5z"/>
                                    <path d="m270.4 38.5h6.9v-26.4h-6.9v26.4zm0-31.3h6.9v-6.5h-6.9v6.5z"/>
                                    <path d="m284.5 38.5h6.9v-12.9c0-3.4 1.1-8.8 6.1-8.8 4.4 0 4.5 4.4 4.5 7.6v14.1h6.9v-16.7c0-6-2.7-10.4-9-10.4-3.6 0-6.5 1.2-8.7 4.2h-0.2v-3.6h-6.5v26.5z"/>
                                    </g>
                                </svg>
                            </a>
                        </figure>
                        <p>
                            FILM+DIGITAL<br>
                            Bayerische Straße 27<br>
                            10707 Berlin<br>
                            <a class="telefonlink" href="tel:+49307859279">T: +49 30 785 9279</a><br>
                            <a href="mailto:info@zazu.berlin">info@zazu.berlin</a><br>
                            <a href="http://www.zazu.berlin" title="Sie sind schon auf der Seite von zazu.berlin"
                                target="_top">Web: zazu.berlin</a>
                        </p>
                    </address>
                    <address class="addressTwo">
                        <figure class="footerLogoContainer">
                            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                                <svg class="footerLogo" version="1.1" viewBox="0 0 585 64" xmlns="http://www.w3.org/2000/svg">
                                    <g transform="translate(0,-36)">
                                        <g fill="#2f383c">
                                            <path
                                                d="m296.92 99.043h12.733l9.1542-32.705h0.16644l9.3206 32.705h13.149l13.149-42.858h-10.652l-8.9045 31.707h-0.16644l-9.3206-31.707h-12.982l-8.6548 31.707h-0.16644l-9.487-31.707h-11.817z" />
                                            <path
                                                d="m361.47 99.043h11.151v-42.858h-11.151zm0-50.681h11.151v-10.652h-11.151z" />
                                            <path
                                                d="m384.3 99.043h11.151v-20.971c0-5.4925 1.7476-14.231 9.8199-14.231 7.1569 0 7.2401 7.0737 7.2401 12.317v22.885h11.151v-27.046c0-9.6535-4.4106-16.81-14.563-16.81-5.8254 0-10.569 1.9141-14.064 6.824h-0.16644v-5.8254h-10.569z" />
                                            <path
                                                d="m433.35 64.839h20.805l-21.72 25.132v9.071h35.618v-8.6549h-22.053l21.304-25.049v-9.1542h-33.954z" />
                                            <path
                                                d="m484.69 73.411c0.49932-5.7422 3.6617-10.07 9.9032-10.07s8.7381 4.6603 9.071 10.07zm26.464 14.147c-4.161 2.3302-8.8213 4.3274-14.231 4.3274-6.9072 0-11.734-3.9113-12.233-10.819h29.626c0-14.98-4.4939-25.881-20.389-25.881-13.315 0-19.89 10.236-19.89 22.636 0 14.064 8.2388 22.22 22.386 22.22 5.9918 0 10.652-1.1651 14.73-3.412z" />
                                            <path d="m523.36 99.043h11.151v-62.415h-11.151z" />
                                            <path
                                                d="m546.19 99.043h11.151v-20.971c0-5.4925 1.7476-14.231 9.8199-14.231 7.1569 0 7.2401 7.0737 7.2401 12.317v22.885h11.151v-27.046c0-9.6535-4.4106-16.81-14.563-16.81-5.8254 0-10.569 1.9141-14.064 6.824h-0.16644v-5.8254h-10.569z" />
                                        </g>
                                        <path
                                            d="m1.2989 50.053h29.52l-30.818 35.66v12.871h50.538v-12.28h-31.291l30.228-35.542v-12.989h-48.176z"
                                            fill="#95de11" />
                                        <path
                                            d="m66.124 54.54c5.3136-4.0147 12.045-6.6124 18.775-6.6124 9.3285 0 13.697 3.3062 13.697 13.107h-8.7373c-6.6124 0-14.406 0.59039-20.428 3.5424-6.0211 2.952-10.391 8.2655-10.391 17.358 0 11.572 10.509 18.066 21.254 18.066 7.2023 0 15.115-3.7785 18.775-10.509h0.23624c0.11751 1.8893 0.11751 5.9039 0.70872 9.092h13.933c-0.35498-4.7231-0.59122-8.974-0.70873-13.579-0.11873-4.487-0.23624-9.092-0.23624-15.232v-7.7932c0-17.948-7.6748-25.623-26.213-25.623-6.7311 0-14.996 1.7712-21.137 4.6051zm8.0298 26.45c0-9.3282 10.509-10.509 17.593-10.509h6.8486c0 4.7231-0.70873 9.092-3.3062 12.516-2.4799 3.3062-6.2574 5.4316-11.1 5.4316-5.6674 0-10.036-2.2435-10.036-7.4389z"
                                            fill="#95de11" fill-opacity=".94118" />
                                        <path
                                            d="m126.07 50.053h29.519l-9.883 11.435-20.935 24.225v12.871h50.538v-12.28h-31.291l30.228-35.542v-12.989h-48.176z"
                                            fill="#95de11" />
                                        <path
                                            d="m243.55 37.773h-15.823v29.756c0 7.7932-2.4799 20.191-13.933 20.191-10.155 0-10.272-10.037-10.272-17.476v-32.472h-15.822v38.376c0 13.697 6.2574 23.852 20.663 23.852 8.266 0 15.113-3.7785 19.956-9.6824h0.23502v8.2655h14.997z"
                                            fill="#95de11" />
                                        <path d="m259.89 98.583h16.531v-16.531h-16.531z" fill="#95de11" />
                                    </g>
                                </svg>
                            </a>
                        </figure>
                        <p>
                            DRUCK+DESIGN<br>
                            Ob der Au 22<br>
                            78737 Fluorn-Winzeln<br>
                            <a class="telefonlink" href="tel:+49740291116">T: +49 7402 91116</a><br>
                            <a href="mailto:info@zazudesign.de">info@zazudesign.de</a><br>
                            <a href="https://www.zazudesign.de" title="Hier kommen Sie zur Seite von zazu.winzeln"
                                target="_blank">www.zazudesign.de</a>
                        </p>
                    </address>
                </div>
            </div>
            <!--Footer center-->
            <div class="footerCenter">
                <svg id="germanyMap" width="595px" height="842px" enable-background="new 43.299 -3.684 595 842" overflow="visible" version="1.1" viewBox="43.299 -3.684 595 842" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">

                    <path id="path3389_1_" d="m250.61 79.377c-3.67-3.95-27.819-34.745-12.777-47.662 9.388-8.062 105.37 10.708 65.993 46.331 12.039-3.818 18.174 0.269 18.407 12.259-0.288 7.186 50.958-19.669 56.305-20.218 17.369 2.149-19.738 48.073-19.735 54.805 6e-3 14.443 96.138-35.881 103.04-39.368 16.35-11.763 4.241 1.318 16.564 3.764 2.66-1.276 12.758-7.901 18.474-9.152 5.379-7.225-10.385-17.253 4.475-23.251 13.55-13.136 30.078 25.346 29.964 28.385-0.27 7.185-33.377 14.242-18.84 15.029-0.397-2.463 104.09 36.338 33.16 37.635 29.428 6.203 10.743 85.519 37.023 109.87 10.899 10.1 18.438 53.423 18.148 68.769-11.293 31.339 18.732 42.864 21.623 69.562 1.267 11.696-0.062 53.622-23.6 39.684 5.907-21.843-35.937-18.253-15.446-2.689-19.978 8.284-136.95 63.629-136.62 65.711-2.538 12.03 1.827 21.471 13.096 28.321 24.986 21.999-2.689 25.959 18.048 52.841 18.656 24.184 83.526 45.083 84.142 79.229 0.271 15.003-45.621 44.525-62.37 55.385-11.838 5.155 32.394 69.947 5.214 65.583-18.987-3.049-11.206-30.565-53.461-20.298-17.37-1.143-28.281 8.6-35.198 11.654-23.018 10.162-20.344 26.58-51.013 8.165-40.236-24.159-17.659 11.538-34.539 20.844 1.754 6.444-120.12-57.056-123.01-28.665-104.33-9.656-31.381-68.989-12.307-138.99-12.863-1.807-72.55-14.624-79.632-19.665-25.213-17.95-31.663-23.679-31.437-59.416-2.386-11.867-7.338-22.562-14.855-32.087 5.108-15.621 19.048-54.421 3.307-70.167-30.811-30.82 21.721-66.611-2.949-107.86 17.874-5.879 59.444 3.031 42.176-30.879 45.287 6.512 1.236-42.931 5.724-46.883 29.071-25.603 29.326-50.175 21.741-87.773 3.388-18.688 31.958-16.604 44.466-14.876 27.893 3.854 9.154 30.081 17.39 26.634 1.229-2.303 52.765-42.803 54.852-45.077 0.222-17.536-29.962-49.976-23.984-51.111-0.964 0.18 18.44-4.376 18.44-4.376z" fill="none" stroke="#000" stroke-width="3"/><g fill="#95DE11">
                    <path id="path1975_1_" d="m319.99 217.11h9.499l-9.917 11.475v4.142h16.263v-3.952h-10.068l9.727-11.437v-4.18h-15.503v3.952z"/>
                    <path id="path1977_1_" d="m340.85 218.55c1.71-1.292 3.876-2.128 6.042-2.128 3.001 0 4.407 1.064 4.407 4.218h-2.812c-2.128 0-4.636 0.19-6.573 1.14-1.938 0.95-3.344 2.66-3.344 5.585 0 3.724 3.382 5.813 6.84 5.813 2.316 0 4.863-1.216 6.041-3.382h0.076c0.037 0.608 0.037 1.9 0.229 2.926h4.482c-0.113-1.52-0.189-2.888-0.228-4.37-0.038-1.444-0.075-2.926-0.075-4.901v-2.508c0-5.776-2.471-8.246-8.436-8.246-2.166 0-4.826 0.57-6.803 1.482l0.154 4.371zm2.584 8.511c0-3.001 3.382-3.381 5.662-3.381h2.203c0 1.52-0.229 2.926-1.063 4.027-0.798 1.064-2.014 1.748-3.571 1.748-1.825 0-3.231-0.722-3.231-2.394z" fill-opacity=".9412"/>
                    <path id="path1979_1_" d="m360.14 217.11h9.5l-3.181 3.68-6.737 7.795v4.142h16.264v-3.952h-10.07l9.729-11.437v-4.18h-15.504v3.952z"/>
                    <path id="path1981_1_" d="m397.95 213.15h-5.092v9.575c0 2.508-0.798 6.498-4.483 6.498-3.268 0-3.307-3.229-3.307-5.624v-10.449h-5.091v12.349c0 4.408 2.014 7.675 6.649 7.675 2.66 0 4.863-1.216 6.422-3.116h0.075v2.66h4.826v-19.568z"/>
                    <path id="path1983_1_" d="m403.2 232.72h5.319v-5.319h-5.319v5.319z"/></g><g fill="#2F383C">
                    <path id="path1956_1_" d="m416.15 225.83c0-1.891 0.893-4.307 3.15-4.307 2.285 0 2.916 2.495 2.916 4.307 0 1.864-0.656 4.385-2.968 4.385-2.336 0-3.098-2.468-3.098-4.385zm-3.545 6.801h3.414v-1.654h0.052c1.024 1.444 2.653 1.969 4.149 1.969 4.148 0 5.672-3.414 5.672-7.116 0-3.729-1.523-7.038-5.672-7.038-1.838 0-3.072 0.762-4.044 2.048h-0.053v-7.904h-3.519v19.695z"/>
                    <path id="path1958_1_" d="m431.15 224.54c0.157-1.812 1.155-3.178 3.124-3.178 1.971 0 2.758 1.471 2.863 3.178h-5.987zm8.351 4.463c-1.312 0.735-2.783 1.366-4.49 1.366-2.18 0-3.703-1.234-3.86-3.414h9.349c0-4.727-1.418-8.167-6.434-8.167-4.202 0-6.276 3.23-6.276 7.143 0 4.438 2.601 7.011 7.063 7.011 1.891 0 3.361-0.367 4.648-1.077v-2.862z"/>
                    <path id="path1960_1_" d="m443.35 232.63h3.519v-4.963c0-1.943 0-5.515 2.863-5.515 0.629 0 1.26 0.105 1.575 0.289v-3.545c-0.368-0.105-0.735-0.105-1.077-0.105-2.1 0-3.545 2.127-3.702 3.388h-0.053v-3.073h-3.125v13.524z"/>
                    <path id="path1962_1_" d="m453.56 232.63h3.52v-19.695h-3.52v19.695z"/>
                    <path id="path1964_1_" d="m460.84 232.63h3.52v-13.524h-3.52v13.524zm0-15.992h3.52v-3.361h-3.52v3.361z"/>
                    <path id="path1966_1_" d="m468.05 232.63h3.519v-6.618c0-1.733 0.551-4.49 3.099-4.49 2.258 0 2.284 2.232 2.284 3.887v7.221h3.52v-8.534c0-3.046-1.393-5.305-4.596-5.305-1.839 0-3.335 0.604-4.438 2.153h-0.052v-1.838h-3.335v13.524z"/></g><g fill="#95DE11">
                    <path id="path1975-8_1_" d="m257.13 628.23h9.198l-9.603 11.111v4.01h15.747v-3.826h-9.75l9.419-11.074v-4.047h-15.011v3.826z"/>
                    <path id="path1977-1_1_" d="m277.33 629.63c1.656-1.252 3.753-2.061 5.85-2.061 2.907 0 4.268 1.029 4.268 4.084h-2.723c-2.06 0-4.489 0.184-6.365 1.104s-3.238 2.576-3.238 5.408c0 3.605 3.275 5.629 6.623 5.629 2.244 0 4.709-1.176 5.85-3.273h0.073c0.037 0.588 0.037 1.84 0.221 2.832h4.341c-0.11-1.471-0.184-2.795-0.221-4.23-0.037-1.398-0.074-2.834-0.074-4.746v-2.428c0-5.594-2.391-7.984-8.168-7.984-2.097 0-4.672 0.551-6.586 1.434l0.149 4.231zm2.502 8.24c0-2.906 3.274-3.273 5.482-3.273h2.134c0 1.471-0.221 2.832-1.03 3.9-0.772 1.029-1.95 1.691-3.458 1.691-1.767 1e-3 -3.128-0.699-3.128-2.318z" fill-opacity=".9412"/>
                    <path id="path1979-3_1_" d="m296.01 628.23h9.198l-3.08 3.562-6.523 7.549v4.01h15.748v-3.826h-9.75l9.419-11.074v-4.047h-15.012v3.826z"/>
                    <path id="path1981-0_1_" d="m332.62 624.4h-4.93v9.271c0 2.428-0.773 6.291-4.342 6.291-3.164 0-3.201-3.127-3.201-5.445v-10.117h-4.93v11.957c0 4.268 1.95 7.432 6.438 7.432 2.576 0 4.709-1.176 6.218-3.016h0.073v2.574h4.673v-18.947z"/>
                    <path id="path1983-8_1_" d="m337.71 643.35h5.15v-5.15h-5.15v5.15z"/></g><g fill="#2F383C">
                    <path id="path1956-6_1_" d="m350.24 636.68c0-1.832 0.865-4.17 3.051-4.17 2.213 0 2.824 2.414 2.824 4.17 0 1.805-0.637 4.246-2.875 4.246-2.262 0-3-2.391-3-4.246zm-3.432 6.586h3.305v-1.604h0.051c0.992 1.398 2.568 1.908 4.018 1.908 4.018 0 5.492-3.307 5.492-6.891 0-3.611-1.475-6.814-5.492-6.814-1.779 0-2.975 0.736-3.916 1.982h-0.051v-7.654h-3.406v19.073z" display="none"/>
                    <path id="path1958-2_1_" d="m364.77 635.43c0.154-1.756 1.119-3.078 3.027-3.078 1.906 0 2.67 1.426 2.771 3.078h-5.798zm8.086 4.322c-1.27 0.711-2.695 1.322-4.348 1.322-2.109 0-3.584-1.195-3.738-3.307h9.053c0-4.576-1.373-7.906-6.229-7.906-4.07 0-6.078 3.127-6.078 6.916 0 4.297 2.518 6.789 6.84 6.789 1.83 0 3.254-0.355 4.5-1.043v-2.771z" display="none"/>
                    <path id="path1960-9_1_" d="m376.59 643.26h3.406v-4.807c0-1.881 0-5.34 2.771-5.34 0.611 0 1.221 0.102 1.525 0.279v-3.432c-0.355-0.102-0.711-0.102-1.041-0.102-2.035 0-3.434 2.059-3.586 3.279h-0.051v-2.975h-3.025v13.098z" display="none"/>
                    <path id="path1962-1_1_" d="m386.47 643.26h3.406v-19.072h-3.406v19.072z" display="none"/>
                    <path id="path1964-4_1_" d="m393.52 643.26h3.408v-13.096h-3.408v13.096zm0-15.487h3.408v-3.254h-3.408v3.254z" display="none"/>
                    <path id="path1966-1_1_" d="m400.5 643.26h3.406v-6.408c0-1.678 0.535-4.348 3.002-4.348 2.186 0 2.211 2.16 2.211 3.762v6.994h3.408v-8.266c0-2.949-1.348-5.135-4.449-5.135-1.781 0-3.23 0.584-4.299 2.084h-0.051v-1.779h-3.229v13.096z" display="none"/>
                    <path id="path836_1_" d="m349.25 643.5h3.967l2.854-10.191h0.053l2.904 10.191h4.096l4.098-13.355h-3.318l-2.775 9.881h-0.053l-2.904-9.881h-4.045l-2.697 9.881h-0.051l-2.957-9.881h-3.682l4.51 13.355z"/>
                    <path id="path838_1_" d="m369.36 643.5h3.475v-13.355h-3.475v13.355zm0-15.793h3.475v-3.318h-3.475v3.318z"/>
                    <path id="path840_1_" d="m376.48 643.5h3.475v-6.535c0-1.711 0.545-4.434 3.061-4.434 2.229 0 2.256 2.203 2.256 3.838v7.131h3.475v-8.428c0-3.008-1.375-5.238-4.539-5.238-1.814 0-3.293 0.596-4.381 2.127h-0.053v-1.816h-3.293v13.355z"/>
                    <path id="path842_1_" d="m391.76 632.84h6.482l-6.768 7.83v2.828h11.1v-2.697h-6.873l6.639-7.805v-2.854h-10.58v2.698z"/>
                    <path id="path844_1_" d="m407.76 635.51c0.156-1.789 1.141-3.137 3.086-3.137s2.723 1.451 2.826 3.137h-5.912zm8.246 4.408c-1.297 0.727-2.748 1.35-4.434 1.35-2.152 0-3.656-1.219-3.812-3.371h9.23c0-4.668-1.4-8.064-6.352-8.064-4.15 0-6.199 3.189-6.199 7.053 0 4.383 2.568 6.924 6.977 6.924 1.867 0 3.318-0.363 4.59-1.062v-2.83z"/>
                    <path id="path846_1_" d="m419.81 643.5h3.475v-19.449h-3.475v19.449z"/>
                    <path id="path848_1_" d="m426.92 643.5h3.475v-6.535c0-1.711 0.545-4.434 3.061-4.434 2.23 0 2.256 2.203 2.256 3.838v7.131h3.475v-8.428c0-3.008-1.375-5.238-4.537-5.238-1.816 0-3.295 0.596-4.383 2.127h-0.053v-1.816h-3.293v13.355z"/>
                    </g><circle cx="240.46" cy="656.03" r="9.25" fill="#5C2466"/>
                    <circle cx="497.44" cy="241.77" r="10" fill="#10A1C7"/>
                </svg>

            </div>
            <!--Footer right-->
            <div class="footerRight">
                <nav id="footerNav">
                    <ul class="footerNavigation">
                        <f:comment>Footer Menu for 3 Levels plus Home on Top as separate dataProcessor jsutHome
                        </f:comment>
                        <f:for each="{justHome}" as="itemH">
                            <li class="level1{f:if(condition:'{itemH.current}',then:' current')}">
                                <a href="{itemH.link}" target="_top" title="{itemH.title}">
                                    {itemH.title}
                                </a>
                            </li>
                        </f:for>
                        <f:comment>Level 1</f:comment>
                        <f:for each="{menuFooter}" as="footerItem">
                            <li class="level1{f:if(condition:'{footerItem.current}',then:' current')}">
                                <a href="{footerItem.link}" target="_top" title="{footerItem.title}">
                                    {footerItem.title}
                                </a>
                            </li>
                            <f:comment>Level 2</f:comment>
                            <f:if condition="{footerItem.children}">
                                <f:for each="{footerItem.children}" as="child">
                                    <li class="level2{f:if(condition: child.current, then:' current')}">
                                        <a href="{child.link}" target="_top" title="{child.title}">
                                            {child.title}
                                        </a>
                                    </li>
                                    <f:comment>Level 3</f:comment>
                                    <f:if condition="{child.children}">
                                        <f:for each="{child.children}" as="childOf2">
                                            <li class="level3{f:if(condition: childOf2.current, then:' current')}">
                                                <a href="{childOf2.link}" target="_top" title="{childOf2.title}">
                                                    {childOf2.title}
                                                </a>
                                            </li>
                                        </f:for>
                                    </f:if>
                                </f:for>
                            </f:if>
                        </f:for>
                    </ul>
                </nav>
            </div>
            <!--meta Nav-->
            <ul id="metaNav">
                <f:for each="{menuMeta}" as="metaItem">
                    <li class="metaLi{f:if(condition:'{metaItem.current}',then:' current')}">
                        <a href="{metaItem.link}" target="_top" title="{metaItem.title}">
                            {metaItem.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </div>
    </footer>
    <div id="socialMedia" class="wrapper clearfix">
        <div class="center">
            <div class="share">
                <p>
                    <f:translate key="LLL:EXT:zazupackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.shariffShare" />
                </p>
                <f:render partial="Shariff" />
            </div>
            <div class="visitUs">
                <p>
                    <f:translate
                        key="LLL:EXT:zazupackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.visitUs" />
                </p>
                <ul class="visitOurSocialMedia">
                    <li class="linkedin">
                    <a href="" title="<f:translate key='LLL:EXT:zazupackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.linkedinUs' />" target="_blank" rel="nofollow noopener noreferrer"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                    <li class="xing">
                    <a href="" title="<f:translate key='LLL:EXT:zazupackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.xingUs' />"
                    target="_blank" rel="nofollow noopener noreferrer"><span class="fab fa-xing"></span></a>
                    </li>
                    <li class="twitter">
                    <a href="" title="<f:translate key='LLL:EXT:zazupackage/Resources/Private/Language/locallang_fe.xlf:templates.page.default.twitterUs' />"
                    target="_blank" rel="nofollow noopener noreferrer"><span class="fab fa-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--jquery should be on top of all js-->
    <script src="{f:uri.resource(path:'JavaScript/Min/jquery-3.3.1.min.js', extensionName:'zazupackage', absolute: '0')}"></script>
</f:section>
