<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--Templates/News/List.html changed zazu 20170326-->
<f:section name="content">
  <!--TYPO3SEARCH_end-->
  <f:if condition="{news}">
    <f:then>
  <f:comment>The wrapper-class only for not-latest</f:comment>   
    <f:if condition="{settings.templateLayout} != 9">
        <div class="news-list-container wrapper clearfix" id="news-container-{contentObjectData.uid}">
        <div class="center">
          <div class="news-list-all">
    </f:if>

        <f:if condition="{settings.hidePagination}">
          <f:then>           
            <f:comment>Hier kommt die neue For-Schleife.</f:comment>          
              <f:for each="{news}" as="newsItem" iteration="iterator">
                <f:if condition="{settings.templateLayout} == 10">
                  <f:then>
                  <f:render partial="List/BrowseList" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                   </f:then>
                   <f:else>
                   <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                   </f:else>
                 </f:if>
                </f:for>
             </f:then>
             <f:else>
               <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
            
               <f:comment>Hier kommt die neue For-Schleife.</f:comment>
               <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
              <f:if condition="{settings.templateLayout} == 9">
             <f:then>
              <f:render partial="List/BrowseList" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
              </f:then>
            <f:else>
            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
           </f:else>
             </f:if>
            </f:for> 
            </n:widget.paginate>
          </f:else>
        </f:if>
            
<f:if condition="{settings.templateLayout} != 10">
</div>
</f:if>
            
 </f:then>
 <f:else>
      <div class="no-news-found">
        <f:translate key="list_nonewsfound" />
      </div>
    </f:else>
  </f:if>
  <!--TYPO3SEARCH_begin-->
</f:section>
</html>