@charset "UTF-8";
/**
* Font - basic Font for the webpage
**/



/*
Basic-Styles

ZAZU-CI-COLORS
green: #95de11;
blue: #10a1c7;
purple: #5c2466;
light grey: #444b51;
dark blue grey: #2f383c;
*/


/*Headlines*/
@font-face {
    font-family: 'noto_sansregular';
    src: url('../../Fonts/NotoSans/notosans-regular.woff2') format('woff2'),
        url('../../Fonts/NotoSans/notosans-regular.woff') format('woff'),
        url('../../Fonts/NotoSans/notosans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Headlines Landing page*/

@font-face {
    font-family: 'pp_editorial_ultralight';
    src: url('../../Fonts/ppeditorialnew/ppeditorialnew-ultralight.woff2') format('woff2'),
         url('../../Fonts/ppeditorialnew/ppeditorialnew-ultralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*copy text*/
@font-face {
    font-family: 'open_sansregular';
    src: url('../../Fonts/OpenSans/open-sans-regular.woff2') format('woff2'),
        url('../../Fonts/OpenSans/open-sans-regular.woff') format('woff'),
        url('../../Fonts/OpenSans/open-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../Fonts/OpenSans/open-sans-light.woff') format('woff2'),
        url('../../Fonts/OpenSans/open-sans-light.woff') format('woff'),
        url('../../Fonts/OpenSans/open-sans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
* Font Awesome Version 5 brands regular and solid
**/

/* this next statement only if the big font awesome file
*  is not included with all the effects
*/

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*add the Fonts of FA*/

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../../Fonts/FontAwesome/fa-brands-400.eot");
    src: url("../../Fonts/FontAwesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-brands-400.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-brands-400.woff") format("woff"), url("../../Fonts/FontAwesome/fa-brands-400.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

/* use regular and solid only then neccessary*/
/*
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("../../Fonts/FontAwesome/fa-regular-400.eot");
    src: url("../../Fonts/FontAwesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-regular-400.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-regular-400.woff") format("woff"), url("../../Fonts/FontAwesome/fa-regular-400.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-regular-400.svg#fontawesome") format("svg");
}


.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

*/

/*
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("../../Fonts/FontAwesome/fa-solid-900.eot");
    src: url("../../Fonts/FontAwesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../Fonts/FontAwesome/fa-solid-900.woff2") format("woff2"), url("../../Fonts/FontAwesome/fa-solid-900.woff") format("woff"), url("../../Fonts/FontAwesome/fa-solid-900.ttf") format("truetype"), url("../../Fonts/FontAwesome/fa-solid-900.svg#fontawesome") format("svg");
}
*/

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}


.fa-twitter::before {
    content: "";
}

.fa-xing::before {
    content: "";
}

.fa-linkedin-in::before {
    content: "\f0e1";
}

.fa-file-pdf::before {
    content: "\f1c1";
}

/**
*
*  Basic website styling zazupackage
*
**/




html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #000;

    /* hyphens
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    */
}

body {
    font-family: 'open_sanslight', Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    /*18px*/
    line-height: 1.5em;
}

/**
* apply a border-box layout model to all elements
**/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*wrapper and headlines responsive 320*/

.wrapper {
    width: 100%;
    padding-left: 1.5625%;
    /* 5 / 320 */
    padding-right: 1.5625%;
    /* 5 / 320 */
}

h1 {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2em;
    /*30px - 1.6666666*/
    line-height: 1.1em;
}

h2 {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.38888888em;
    /*25px*/
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    line-height: 1.1em;
}

p {
    margin-top: 0;
}

h3 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.166666666em;
    /*21px*/
    line-height: 1.1em;
    margin-top: 1.2777777em;
    margin-bottom: 0.3em;
}

h4 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.111111111em;
    line-height: 1.1em;
    margin-top: 1.11111111em;
    margin-bottom: 0.3em;
}

h5,
h6 {
    font-family: 'noto_sansregular', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.1em;
    margin-top: 1em;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    line-height: 1.5em;
}

a,
a:visited {
    color: #000;
}

a:hover {
    color: #1099BF;
}

li {
    line-height: 1.5em;
}

figure {
    padding: 0;
    margin: 0;
}

img,
svg {
    width: 100%;
    height: auto;
}

#matomo {
    width: 1px;
    height: 1px;
}

.green {
    color: #95de11;
}

/*======= WRAPPER ===== GENERAL ====== WRAPPER =========== GENERAL ================*/

/*====================== MEDIA QUERIES ======= 480 ==================================*/

@media only screen and (min-width: 480px) {
    .wrapper {
        padding-left: 1.25%;
        /*6px/480px*/
        padding-right: 1.25%;
        /*6px/480px*/
    }
}

/*==================================================== 760 ======================*/

@media only screen and (min-width: 760px) {
    .wrapper {
        padding-left: 2.1052631578947367%;
        /*16px/760px*/
        padding-right: 2.1052631578947367%;
        /*16px/760px*/
    }

    h1 {
        font-size: 1.83333333em;
        /*33px*/
    }

    h2 {
        font-size: 1.66666666em;
        /*30px*/
        margin-top: 1.6666666em;
    }

    h3 {
        font-size: 1.38888888em;
        /*25px*/
        margin-top: 1.388888888em;
    }
}

/*======================================================= 960 ===================*/

@media only screen and (min-width: 960px) {
    .wrapper {
        padding-left: 2.2916666666666665%;
        /* 22 / 960 */
        padding-right: 2.2916666666666665%;
        /* 22 / 960 */
    }

    h1 {
        font-size: 2.055555556em;
        /*37px*/
    }

    h2 {
        font-size: 1.83333333em;
        /*33px*/
        margin-top: 1.83333333em;
    }

    h3 {
        font-size: 1.61111111em;
        /*29px*/
        margin-top: 1.81111111em;
    }
}

/*====================================================== 1254 ====================*/

/* "center" only necessary when background goes all out*/

@media only screen and (min-width: 1254px) {
    .wrapper {
        width: 1198px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .center {
        width: 1198px;
        margin: 0 auto 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    body {
        font-size: 1.1875em;
        /*19px*/
    }

    h1 {
        font-size: 2.105263158em;
        /*40px*/
    }

    /*Zahnmedizin Landingpage*/
    body#p25 h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.894736842em;
        /*36px*/
        margin-top: 1.894736842em;
    }

    h3 {
        font-size: 1.631578947em;
        /*31px*/
        margin-top: 1.631578947em;
    }

    h4,
    h5,
    h6 {
        font-size: 1.157894737em;
        /*22px*/
        margin-top: 1.157894737em;
    }
}

/*======= 2512 ======= MEDIA QUERIES Headlines only in endless layout not in THIS, this is limited to 1254
@media only screen and (min-width: 2512px) {
body {
   font-size: 1.375em;
   }

h1 {
  font-size: 3.125em;
  }

h2 {
  font-size: 2.1875em;
  }

h3 {
  font-size: 2.375em;
  }

h4, h5, h6 {
  font-size: 1.375em;
  }
}

==== Rand 151-45 = 2396 ==*/
