<header id="mainHeader" class="wrapper clearfix">
    <div class="center">
        <figure id="logoContainer">
            <a href="index.php?id=1" title="Hier kommen Sie zur Startseite.">
                <svg id="logo" width="309px" height="41px" enable-background="new -0.1 243.1 309 41" overflow="visible" version="1.1" viewBox="0 0 309 41" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="#95DE11">
                    
                    <path d="M0.8,8.5h18.1L0,30.3v7.9h31v-7.5H11.8L30.4,8.9v-8H0.8V8.5z"/>
                    <path d="m40.5 11.2c3.3-2.5 7.4-4.1 11.5-4.1 5.7 0 8.4 2 8.4 8h-5.4c-4.1 0-8.8 0.4-12.5 2.2s-6.4 5.1-6.4 10.7c0 7.1 6.4 11.1 13 11.1 4.4 0 9.3-2.3 11.5-6.4h0.1c0.1 1.2 0.1 3.6 0.4 5.6h8.6c-0.2-2.9-0.4-5.5-0.4-8.3-0.1-2.8-0.1-5.6-0.1-9.3v-4.8c0-11-4.7-15.7-16.1-15.7-4.1 0-9.2 1.1-13 2.8l0.4 8.2zm4.9 16.2c0-5.7 6.4-6.4 10.8-6.4h4.2c0 2.9-0.4 5.6-2 7.7-1.5 2-3.8 3.3-6.8 3.3-3.5 0-6.2-1.4-6.2-4.6z" fill-opacity=".9412"/>
                    <path d="M77.2,8.5h18.1l-6.1,7L76.4,30.3v7.9h31v-7.5H88.3l18.6-21.8v-8H77.2V8.5z"/>
                    <path d="m149.3 0.9h-9.7v18.3c0 4.8-1.5 12.4-8.6 12.4-6.2 0-6.3-6.2-6.3-10.7v-20h-9.7v23.6c0 8.4 3.8 14.6 12.7 14.6 5.1 0 9.3-2.3 12.2-5.9h0.1v5.1h9.2v-37.4z"/>
                    <path d="M158.3,38.2h10.1V28.1h-10.1V38.2z"/></g><g fill="#2F383C">
                    <path d="m183 25.2c0-3.7 1.7-8.4 6.2-8.4s5.7 4.9 5.7 8.4c0 3.6-1.3 8.6-5.8 8.6-4.6 0-6.1-4.8-6.1-8.6zm-6.9 13.3h6.7v-3.2h0.1c2 2.8 5.2 3.8 8.1 3.8 8.1 0 11.1-6.7 11.1-13.9 0-7.3-3-13.8-11.1-13.8-3.6 0-6 1.5-7.9 4h-0.1v-15.4h-6.9v38.5z"/>
                    <path d="m212.4 22.7c0.3-3.5 2.3-6.2 6.1-6.2 3.9 0 5.4 2.9 5.6 6.2h-11.7zm16.3 8.7c-2.6 1.4-5.4 2.7-8.8 2.7-4.3 0-7.2-2.4-7.5-6.7h18.3c0-9.2-2.8-16-12.6-16-8.2 0-12.3 6.3-12.3 14 0 8.7 5.1 13.7 13.8 13.7 3.7 0 6.6-0.7 9.1-2.1v-5.6z"/>
                    <path d="m236.2 38.5h6.9v-9.7c0-3.8 0-10.8 5.6-10.8 1.2 0 2.5 0.2 3.1 0.6v-6.9c-0.7-0.2-1.4-0.2-2.1-0.2-4.1 0-6.9 4.2-7.2 6.6h-0.1v-6h-6.1v26.4z"/>
                    <path d="M256.2,38.5h6.9V0h-6.9V38.5z"/>
                    <path d="m270.4 38.5h6.9v-26.4h-6.9v26.4zm0-31.3h6.9v-6.5h-6.9v6.5z"/>
                    <path d="m284.5 38.5h6.9v-12.9c0-3.4 1.1-8.8 6.1-8.8 4.4 0 4.5 4.4 4.5 7.6v14.1h6.9v-16.7c0-6-2.7-10.4-9-10.4-3.6 0-6.5 1.2-8.7 4.2h-0.2v-3.6h-6.5v26.5z"/>
                </g></svg>

            </a>
        </figure>
        <div id="mainMenuBox">
            <div id="headerContact">
                <a href="tel:+49307859279">+49 30 785 9279</a><br>
                <a href="mailto:info@zazu.berlin">info@zazu.berlin</a>
            </div>

            <nav id="mainMenu">
                <input type="checkbox" id="hamburger">
                <label for="hamburger" class="hamburger">
                    <span class="hamburgerLine"></span>
                    <span class="hamburgerLine"></span>
                    <span class="hamburgerLine"></span>
                </label>

                <f:comment>Menu for 3 Levels plus Home on Top as separate dataProcessor jsutHome</f:comment>
                <ul id="mainMenuList">
                    <f:for each="{justHome}" as="itemH">
                        <li class="level1{f:if(condition: itemH.current, then:' current')}">
                            <a href="{itemH.link}" target="_top" title="{itemH.title}">
                                {itemH.title}
                            </a>
                        </li>
                    </f:for>

                    <f:comment>assign label to input with unique numbers</f:comment>
                    <f:variable name="counter" value="0" />

                    <f:for each="{menuMain}" as="mainnavigationItem">
                        <li class="level1{f:if(condition: mainnavigationItem.current, then:' current')}{f:if(condition: mainnavigationItem.active, then:' active')}{f:if(condition: mainnavigationItem.children, then:' plus')}">
                            <f:if condition="{mainnavigationItem.children}">
                                <f:then>
                                    <f:comment>level-1-children-yes</f:comment>

                                    <f:variable name="counter" value="{counter+1}" />
                                    <input type="checkbox" id="drop-{counter}">
                                    <label for="drop-{counter}" class="toggle"></label>
                                    <a href="{mainnavigationItem.link}" target="_top" title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                    </a>

                                    <ul>
                                        <f:for each="{mainnavigationItem.children}" as="child">
                                            <li class="level2{f:if(condition: child.current, then:' current')}{f:if(condition: child.active, then:' active')}{f:if(condition: child.children, then:' plus')}">
                                                <f:if condition="{child.children}">
                                                    <f:then>
                                                        <f:comment>level-2-children-yes</f:comment>

                                                        <f:variable name="counter" value="{counter+1}" />
                                                        <input type="checkbox" id="drop-{counter}">
                                                        <label for="drop-{counter}" class="toggle"></label>
                                                        <a href="{child.link}" target="_top" title="{child.title}">
                                                            {child.title}
                                                        </a>

                                                        <f:comment>level-3 is just-children of level-2 - - no level 4
                                                        </f:comment>
                                                        <ul>
                                                            <f:for each="{child.children}" as="childOf2">
                                                                <li class="level3{f:if(condition: childOf2.current, then:' current')}">
                                                                    <a href="{childOf2.link}" target="_top" title="{childOf2.title}">
                                                                        {childOf2.title}
                                                                    </a>
                                                                </li>
                                                            </f:for>
                                                        </ul>

                                                    </f:then>
                                                    <f:else>
                                                        <f:comment>level-2-children-no</f:comment>

                                                        <a href="{child.link}" target="_top" title="{child.title}">
                                                            {child.title}
                                                        </a>

                                                    </f:else>
                                                </f:if>
                                            </li>
                                        </f:for>
                                    </ul>

                                </f:then>
                                <f:else>
                                    <f:comment>level-1-children-no</f:comment>

                                    <a href="{mainnavigationItem.link}" target="_top" title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                    </a>

                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                    <li><a href="https://blog.zazu.berlin" target="_blank" title="Hier kommen Sie zum Blog von zazu.berlin.">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<f:render section="Main" />
