<ul>
    <f:for each="{homeMenu}" as="itemH">
        <li class="{f:if(condition: itemH.active, then:'active')}">
            <a href="{itemH.link}" target="{itemH.target}" title="{itemH.title}">
                {itemH.title}
            </a>
        </li>
    </f:for>

    <f:for each="{menuMain}" as="mainnavigationItem">
        <li class="{f:if(condition: mainnavigationItem.active, then:'active')}">
            <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                {mainnavigationItem.title}
            </a>
            <f:if condition="{mainnavigationItem.children}">
                <ul>
                    <f:for each="{mainnavigationItem.children}" as="child">
                        <li class="{f:if(condition: child.active, then:'active')}">
                            <a href="{child.link}" target="{child.target}" title="{child.title}">
                                {child.title}
                            </a>
                            <f:if condition="{child.children}">
                                <ul>
                                    <f:for each="{child.children}" as="child2">
                                        <li class="{f:if(condition: child2.active, then:'active')}">
                                            <a href="{child2.link}" target="{child2.target}" title="{child2.title}">
                                                {child2.title}
                                            </a>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </li>
    </f:for>
</ul>

<f:render section="Main" />