<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<f:cycle values="{0: '<li>', 1: ''}" as="lis">
    <f:format.raw>{lis}</f:format.raw>
</f:cycle>

<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}"
    itemscope="itemscope" itemtype="http://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{newsItem}" />

    <f:if condition="{newsItem.mediaPreviews}">
        <!-- media preview element -->
        <f:then>
            <div class="news-img-wrap">

                <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                    <f:if condition="{mediaElement.originalResource.type} == 2">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                            alt="{mediaElement.originalResource.alternative}"
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"
                            additionalAttributes="{itemprop=\" image\"}" />
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 4">
                        <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 5">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                            alt="{mediaElement.originalResource.alternative}"
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"
                            additionalAttributes="{itemprop=\" image\"}" />
                    </f:if>
                </f:alias>

            </div>
        </f:then>
        <f:else>
            <f:if condition="{settings.displayDummyIfNoMedia}">
                <div class="news-img-wrap">
                    <span class="no-media-element">

                        <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                            maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                            maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"
                            additionalAttributes="{itemprop=\" image\"}" />
                    </span>
                </div>
            </f:if>
        </f:else>
    </f:if>



    <!-- date -->
    <span class="news-list-date">
        <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
            <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
        </time>
    </span>

     <!-- author publisher -->
     <f:if condition="{newsItem.author}">
            <span itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                <span class="news-browse-author" itemprop="name">{newsItem.author}</span>
            </span>
            <span class="news-browse-publisher" itemprop="publisher" itemscope="itemscope" itemtype="http://schema.org/Organization">
                <span itemprop="name">zazu.berlin</span>
                <span itemprop="image"
                    content="https://zazu.berlin/fileadmin/Images/Social-Media/zazu-berlin-digitalisierung-typo3-film.png"></span>
                <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://zazu.berlin/logo-zazu-berlin.png">
                    <meta itemprop="width" content="600">
                    <meta itemprop="height" content="76">
                </span>
            </span>
        </f:if>

    <!-- header -->
    <div class="header">
        <h3>
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                <span itemprop="headline">{newsItem.title}</span>
            </n:link>
        </h3>
    </div>



    <!-- teaser -->
    <div class="teaser-text">
        <n:removeMediaTags>
            <f:if condition="{newsItem.teaser}">
                <f:then>
                    <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters:
                        '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:then>
                <f:else>
                    <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters:
                        '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:else>
            </f:if>
        </n:removeMediaTags>

        <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
            <f:translate key="more-link" />
        </n:link>
    </div>

    <!-- footer information -->
    <div class="footer">
        <p>

            <f:if condition="{newsItem.tags}">
                <!-- Tags -->
                <span class="news-list-tags" itemprop="keywords">
                    <f:for each="{newsItem.tags}" as="tag">
                        {tag.title}
                    </f:for>
                </span>
            </f:if>

        </p>
    </div>
</div>


<f:cycle values="{0: '', 1: '</li>'}" as="endLis">
    <f:format.raw>{endLis}</f:format.raw>
</f:cycle>


<f:if condition="{iterator.isLast}">
    <f:if condition="{iterator.isOdd}">
        </li>
    </f:if>
</f:if>


</html>
