<f:layout name="DefaultContainer" />
<f:section name="main">
    <!--DCE62 - gird with elements-->
    <div class="d62 wrapper clearfix">
        <f:render partial="Container/Dces" arguments="{dces:dces}" />
    </div><!-- END DCE62-->
</f:section>
