<div class="impressum wrapper clearfix">
    <div class="center">
        <h1>Impressum</h1>
        <article class="impLeftCol">
            <h2>Firmeninhaber XXXXXXX<br />
                Firma XXXXXXXX</h2>
            <p>00000 XXXXOrt<br />
                XXXStraße 0<br />
                Fon +49 xxxx xxxxx-0<br />
                Fax +49 xxxx xxxxx-0<br />
                www.xxxxxxx.de<br />
                <a class="normalLink" href="mailto:xxxx@xxxx.de">xxxx@xxxx.de</a></p>


            <h2>Pflichtangaben nach &sect; 5 Telemediengesetz</h2>
            <p>INHALTLICH VERANTWORTLICHER:<br />
                xxxxxxx<br />
                00000 xxxx / xxx<br />
                xxxStraße 0<br />
                Fon +49 xxxx xxxx-0<br />
                Fax +49 xxxx xxxx-0<br />
                <a class="normalLink" href="mailto:praxis@hopfzaehne.de">praxis@hopfzaehne.de</a></p>

            <p>ZUST&Auml;NDIGE AUFSICHTSBEH&Ouml;RDE:<br />
                Kassenzahn&auml;rztliche Vereinigung<br />
                Merzhauser Stra&szlig;e 114 – 116<br />
                79100 Freiburg<br />
                <a class="duennerLink" href="http://www.lzkbw.de" rel="nofollow">http://www.lzkbw.de</a></p>

            <p>ZUST&Auml;NDIGE KAMMER:<br />
                Landeszahn&auml;rztekammer Baden-W&uuml;rttemberg<br />
                Merzhauser Stra&szlig;e 114 – 116<br />
                79100 Freiburg<br />
                <a class="duennerLink" href="http://www.lzkbw.de" rel="nofollow">http://www.lzkbw.de</a></p>

            <p>BERUFSBEZEICHNUNG:<br />
                Zahnarzt (verliehen in Rum&auml;nien)</p>
            <br />
            <p>RELEVANTE BERUFSRECHTLICHE REGELUNGEN SIND:<br />
                Zahnheilkundegesetz<br />
                Heilberufe-Kammergesetz<br />
                Geb&uuml;hrenordnung f&uuml;r Zahn&auml;rzte<br />
                Berufsordnung f&uuml;r Zahn&auml;rzte<br />
                <br />
                Die Regelungen finden sich im Gesetzblatt des Landes</p>

            <p><a class="duennerLink" href="http://www.lzkbw.de/Patienten/Gesetze_Ordnungen/index.php"
                    rel="nofollow">http://www.lzkbw.de/Patienten/Gesetze_Ordnungen/index.php</a></p>

            <p>VERANTWORTLICH FÜR DEN INHALT:<br />
                xxxInhaber<br />
                xxxStraße 0<br />
                00000 xxxxxx<br /></p>

            <p>STREITSCHICHTUNG:<br />
                Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen.<br /></p>




            <p>N&Uuml;TZLICHE LINKS:<br />
                Landeszahn&auml;rztekammer Baden-W&uuml;rttemberg<br />
                <a class="duennerLink" href="http://www.lzkbw.de" rel="nofollow">http://www.lzkbw.de</a></p>
            <p>Kassenzahn&auml;rztliche Bundesvereinigung<br />
                <a class="duennerLink" href="http://www.kzbv.de" rel="nofollow">http://www.kzbv.de</a></p>
            <p>Bundeszahn&auml;rztekammer<br />
                <a class="duennerLink" href="http://www.bzaek.de" rel="nofollow">http://www.bzaek.de</a></p>
            <p>Kassenzahn&auml;rztliche Vereinigung Baden-W&uuml;rttemberg<br />
                <a class="duennerLink" href="http://www.zahnforum.de" rel="nofollow">http://www.zahnforum.de</a></p>
        </article>

        <article class="impRightCol">
            <h2>KONZEPTION, DESIGN, PROGRAMMIERUNG + VIDEOPRODUKTION</h2>
            <h3 class="gruen">zazudesign –<br />
                die Schwarzwald Werbeagentur</h3>
            <p>Ob der Au 22<br />
                78737 Fluorn-Winzeln<br />
                fon +49 7402 91116<br />
                fax +49 7402 91115<br />
                <a class="normalLink" href="mailto:info@zazudesign.de">info@zazudesign.de</a><br />
                <a class="normalLink" href="http://www.zazudesign.de">www.zazudesign.de</a></p>


            <h3 class="gruen">zazu.berlin –<br />
                die Schwarzwald Werbeagentur in Berlin</h3>
            <p>Bayerische Stra&szlig;e 27<br />
                10707 Berlin<br />
                fon +49 30 7859279<br />
                fax +49 30 78990528<br />
                <a class="normalLink" href="mailto:info@hezel.tv">info@hezel.tv</a><br />
                <a class="normalLink" href="http://www.hezel.tv">www.hezel.tv</a></p>

            <h3>BILDER</h3>
            <p>valo_with_cord / mit frdl. Genehmigung Ultradent Products<br />
                ZERAMEX®P_16310+16315<br />
                ZERAMEX®P_16310+16330<br />
                ZERAMEX®P_16310+16300<br />
                Nobel Biocare®<br />
                &copy; milosljubicic / Fotolia.com.<br />
                &copy; zlikovec / Fotolia.com.<br />
                &copy; alimyakubov / Fotolia.com.<br />
                &copy; lenets_tan / Fotolia.com.<br />
                &copy; Ralf Cornesse / thinkstockphotos.de.<br />
                &copy; ipag / thinkstockphotos.de.<br />
                &copy; Edyta Pawlowska / de.123rf.com.<br />
                &copy; Wavebreak Media Ltd / de.123rf.com.<br />
                &copy; goodluz / de.123rf.com.<br />
                &copy; rido / de.123rf.com.<br />
                &copy; lakhesis / de.123rf.com.</p>


            <h3>&copy; 2016 &ndash; URHEBERRECHTLICHER SCHUTZ</h3>
                <p>Das Copyright bzw. Urheberrecht betreffend Programmierung, Inhalt, Elemente und Gestaltung liegt bei der
                Firma zazudesign. Jegliche Art von Kopie und Weiterverwendung bedarf einer schriftlichen Zustimmung.</p>

            <h2>Haftung für Inhalte</h2>
            <p>Als Dienstanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Dienstanbieter jedoch nicht
                verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
                forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>

            <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
                bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
                einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden
                wir diese Inhalte umgehend entfernen.</p>

            <h3>Haftung für Links</h3>
            <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
                Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
                verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
                verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
                Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>

            <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
                Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
                umgehend entfernen.</p>

            <h2>Urheberrecht</h2>
            <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
                Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
                Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
                Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>

            <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
                beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
                Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden
                von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
        </article>
    </div>
</div>
